{% extends "base.html.twig" %}
{% block title %}
    Clients
{% endblock %}
{% block body %}
    <main class="listing_body">
        {{ include('static.html.twig') }}
    <section class="dashboard">
        <div class="dashboard_user">
            <h1>Mes clients</h1>
            <button>Ajouter un client</button>
        </div>
        <div class="dashboard_title">
            <h2 class="dashboard_title--client">Client</h2>
            <h2 class="dashboard_title--email">Email</h2>
            <h2 class="dashboard_title--adresse">Adresse</h2>
            <h2 class="dashboard_title--telephone">Téléphone</h2>
            <h2 class="dashboard_title--contacter">Contacter</h2>
            <h2 class="dashboard_title--action">Actions</h2>
        </div>
        <div class="dashboard_listing">
            <div class="dashboard_listing--users">
                <img src="../public/assets/kaiba.jpg" alt="">
                <h4>Rocco Li Puma</h4>
            </div>
            <div class="dashboard_listing--email">
                <p>wesley.lipuma@coucou.fr</p>
            </div>
            <div class="dashboard_listing--adresse">
                <p>29 rue du Progrés 93100</p>
            </div>
            <div class="dashboard_listing--telephone">
                <p>06.55.68.90.65</p>
            </div>
            <div class="dashboard_listing--contacter">
                <button class="calendar">
                    <img src="../public/assets/calendar.svg" alt="">
                </button>
                <button class="contacter">contacter</button>
            </div>
            <div class="dashboard_listing--actions">
                <input type="checkbox" class="dashboard_listing--checkbox" name="" id="">
                <img src="../public/assets/Edit-Icon.svg" alt="">
            </div>
        </div>
        <div class="dashboard_listing">
                <div class="dashboard_listing--users">
                    <img src="../public/assets/kaiba.jpg" alt="">
                    <h4>Rocco Li Puma</h4>
                </div>
                <div class="dashboard_listing--email">
                    <p>wesley.lipuma@coucou.fr</p>
                </div>
                <div class="dashboard_listing--adresse">
                    <p>29 rue du Progrés 93100</p>
                </div>
                <div class="dashboard_listing--telephone">
                    <p>06.55.68.90.65</p>
                </div>
                <div class="dashboard_listing--contacter">
                    <button class="calendar">
                        <img src="../public/assets/calendar.svg" alt="">
                    </button>
                    <button class="contacter">contacter</button>
                </div>
                <div class="dashboard_listing--actions">
                    <input type="checkbox" class="dashboard_listing--checkbox" name="" id="">
                    <img src="../public/assets/Edit-Icon.svg" alt="">
                </div>
            </div>
    </section>
		<div class="popup-content">
		<div class="popup-formulaire">
			<div class="formulaire">
				<form class="" action="index.html" method="post">
					<a class="cross">X</a>
					<img class="icon-user" src="../public/assets/user.svg" alt="">
						<h2>Créer un nouvel utilisateur</h2>
						<input type="text" class="champ" placeholder="Nom">
						<input type="text" class="champ" placeholder="Prénom">
						<input type="text" class="champ" placeholder="Adresse mail">
						<input type="text" class="champ" placeholder="Adresse postale">
						<input type="text" class="champ" placeholder="Téléphone">
						<input type="text" class="champ" placeholder="Nom du projet">
						<input class="creer" type="submit" value="Créer">
				</form>
			</div>
		</div>
		</div>
</main>
{% endblock %}
