{% extends "base.html.twig" %}
{% block title %}
    Create profile
{% endblock %}
{% block body %}
    <main class="connexion_popular">
        <div class="connexion">
            <div class="connexion_create">
                <form class="connexion_form" action="login">
                    <h2>Mon profil</h2>
                    <input type="text" placeholder="Prénom" class="mail" id="login">
                    <input type="text" placeholder="Nom" class="input" id="mdp">
                    <div class="button">
                        <button class="connexion_create__créer">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="popular">
            <div class="popular_logo">
                <img src="assets/logo.svg"
                     alt="logo"
                     height="100px"
                     width="150px"> 
            </div>
            <div class="popular_fluid">
                    <img src="assets/fluid.svg"
                    alt="">
            </div>
        </div>
    </main>
{% endblock %}