{% extends "base.html.twig" %}
{% block title %}
    Estimate
{% endblock %}
{% block body %}
    <main  class="listing_body">
        {{ include('static.html.twig') }}
    <section class="dashboard">
        <div class="dashboard_user">
            <h1>Mes devis</h1>
            <button class="button_add">Ajouter un client</button>
        </div>
        <div class="dashboard_title">
            <h2 class="dashboard_title--client">Client</h2>
            <h2 class="dashboard_title--email">Email</h2>
            <h2 class="dashboard_title--adresse">Prix</h2>
            <h2 class="dashboard_title--action">Actions</h2>
        </div>
        <div class="dashboard_listing">
            <div class="dashboard_listing--email">
                    <p>wesley.lipuma@coucou.fr</p>
            </div>
            <div class="dashboard_listing--users">
                <img src="../public/assets/kaiba.jpg" alt="">
                <h4>Rocco Li Puma</h4>
            </div>
            <div class="dashboard_listing--prix">
                <p>2000€</p>
            </div>
            <div class="dashboard_listing--actions">
                <button class="modifier">Modifier</button>
                <button class="exporter">Exporter</button>
                <button class="envoyer">Envoyer</button>
            </div>
        </div>
    </section>
</main>
{% endblock %}
