<header>
    <input type="search" name="" placeholder="recherche">
    <div class="droite">
        <span>Bonjour Marie</span>
        <img class="bell" src="assets/notif.svg" alt="">
        <img class="personne" src="assets/pp.png" alt="">
    </div>
</header>