<header>
    <input type="search" name="" placeholder="recherche">
    <div class="droite">
        <span>Bonjour Marie</span>
        <img class="bell" src="assets/notif.svg" alt="">
        <a href="/profile"><img class="personne" src="assets/pp.png" alt=""></a>
    </div>
</header>