{% extends "base.html.twig" %}
{% block title %}
Quotes
{% endblock %}
{% block body %}
    {{ include('static.html.twig') }}
    <main class="main__quote">
        <div>
            <div class="container__tab">
                <div class="tab tab--active">Nouveau devis</div>
                <div class="tab">Liste de mes devis</div>
            </div>
        </div>
        <div class="page page--active">
            <h1 class="page__title">
                Vous allez éditer votre devis à
                <span class="title__containerInput">
                    <input type="text" class="title__input">
                    <img src="assets/arrow.svg" alt="arrow" class="iconArrow">
                </span>
            </h1>
            <div class="container__page">
                <div class="thread">
                    <div class="step step">
                        <div class="step__label">
                            <p class="label__title">Développement</p>
                            <p class="label__subtitle">Site e-commerce</p>
                        </div>
                        <div class="step__position">
                            1
                            <img src="assets/check-green.svg" alt="check" class="step__iconCheck">
                        </div>
                    </div>
                    <div class="step">
                        <div class="step__label">
                            <p class="label__title">Développement</p>
                            <p class="label__subtitle">Site e-commerce</p>
                        </div>
                        <div class="step__position">
                            2
                            <img src="assets/check-green.svg" alt="check" class="step__iconCheck">
                        </div>
                    </div>
                    <div class="step">
                        <div class="step__label">
                            <p class="label__title">Développement</p>
                            <p class="label__subtitle">Site e-commerce</p>
                        </div>
                        <div class="step__position">
                            3
                            <img src="assets/check-green.svg" alt="check" class="step__iconCheck">
                        </div>
                    </div>
                    <div class="step">
                        <div class="step__label">
                            <p class="label__title">Développement</p>
                            <p class="label__subtitle">Site e-commerce</p>
                        </div>
                        <div class="step__position">
                            4
                            <img src="assets/check-green.svg" alt="check" class="step__iconCheck">
                        </div>
                    </div>
                </div>
                <div class="container__board">
                    <div class="board">
                        <h2 class="board__title">Prestation</h2>
                        <div class="board__options">
                        </div>
                        <div class="board__total">
                            <span class="total__title">Total</span>
                            <span class="total__price">0 €</span>
                        </div>
                    </div>
                    <div class="container__button">
                        <button class="button">Exporter</button>
                        <button class="button">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page__quotesList">
            <div class="dashboard_title">
                <h2 class="dashboard_title--client">Client</h2>
                <h2 class="dashboard_title--email">Email</h2>
                <h2 class="dashboard_title--adresse">Adresse</h2>
                <h2 class="dashboard_title--telephone">Téléphone</h2>
                <h2 class="dashboard_title--contacter">Contacter</h2>
                <h2 class="dashboard_title--action">Actions</h2>
            </div>
            <div class="dashboard_listing">
                <div class="dashboard_listing--users">
                    <img src="assets/kaiba.jpg" alt="">
                    <h4>Rocco Li Puma</h4>
                </div>
                <div class="dashboard_listing--email">
                    <p>wesley.lipuma@coucou.fr</p>
                </div>
                <div class="dashboard_listing--adresse">
                    <p>29 rue du Progrés 93100</p>
                </div>
                <div class="dashboard_listing--telephone">
                    <p>06.55.68.90.65</p>
                </div>
                <div class="dashboard_listing--contacter">
                    <button class="calendar">
                        <img src="assets/calendar.svg" alt="">
                    </button>
                    <button class="contacter">contacter</button>
                </div>
                <div class="dashboard_listing--actions">
                    <input type="checkbox" class="dashboard_listing--checkbox" name="" id="">
                    <img src="assets/Edit-Icon.svg" alt="">
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
<script>
    var pages = document.querySelectorAll('.page');
    var tabs = document.querySelectorAll('.tab');

    for (let i = 0; i < tabs.length; i++) {
        tabs[i].addEventListener('click', function () {
            for (let i = 0; i < tabs.length; i++) {
                pages[i].classList.remove('page--active');
                tabs[i].classList.remove('tab--active');
            }
            pages[i].classList.add('page--active');
            tabs[i].classList.add('tab--active');
        });
    }

    var options = [
        {title: 'Développement', subtitle: 'Site e-commerce', price: 1500},
        {title: 'Développement', subtitle: 'Responsive', price: 500},
        {title: 'Design', subtitle: 'sur mesure', price: 1500},
        {title: 'Page', subtitle: '0-10', price: 500}
    ];
    var steps = document.querySelectorAll('.step');
    var ctnOptions = document.querySelector('.board__options');
    var selectedOptions = [];

    for (let i = 0; i < steps.length; i++) {
        steps[i].addEventListener('click', function() {
            steps[i].classList.toggle('step--active');

            var optionIndex = selectedOptions.findIndex(val => val === i);

            optionIndex >= 0
                ? deleteOption(optionIndex)
                : selectedOptions.push(i);
            selectedOptions.sort((a, b) => a - b);

            updateOptions();
            addTotal();
        });
    }

    function deleteOption(index) {
        selectedOptions = selectedOptions.slice(0, index).concat(selectedOptions.slice(index + 1));
    }

    function addTotal() {
        var totalPriceNode = document.querySelector('.total__price');
        var total = selectedOptions.reduce((acc, i) => acc + options[i].price, 0);

        totalPriceNode.textContent = `${formatNumber(total)} €`
    }

    function updateOptions() {
        ctnOptions.innerHTML = '';

        selectedOptions.map(index => {
            var optionNode = document.createElement('div');
            optionNode.classList.add('option');
            ctnOptions.appendChild(optionNode);

            var optionTitle = document.createElement('span');
            var optionTitleContent = document.createTextNode(`${options[index].title} ${options[index].subtitle}`);
            optionNode.appendChild(optionTitle);
            optionTitle.classList.add('option__title');
            optionTitle.appendChild(optionTitleContent);

            var optionPrice = document.createElement('span');
            var optionPriceContent = document.createTextNode(`${formatNumber(options[index].price)} €`);
            optionPrice.appendChild(optionPriceContent);
            optionPrice.classList.add('option__price');
            optionNode.appendChild(optionPrice);
        });
    }

    function formatNumber(numb) {
        return numb.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }
</script>
{% endblock %}
