<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../public/styles/main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
	<section class="static">
		<div class="sidebar">
			<img class="logo" src="images/logo-blanc.svg" alt="">
			<a href="#">
				<img src="../public/assets/home.svg" alt="">
				<p>Accueil</p>
			</a>
			<a href="#">
				<img src="../public/assets/circle.svg" alt="">
				<p>Clients</p>
			</a>
			<a href="#">
				<img src="../public/assets/calendar.svg" alt="">
				<p>Calendrier</p>
			</a>
			<a href="#">
				<img src="../public/assets/edit.svg" alt="">
				<p>Devis</p>
			</a>
		</div>
		<header>
			<input type="search" name="" placeholder="recherche">
			<div class="droite">
						<span>Bonjour Marie</span>
						<img src="images/logo.svg" alt="">
						<img src="images/logo.svg" alt="">
			</div>
		</header>
	</section>
</body>
</html>
