/** Connexion **/

.connexion_popular {
    display: flex;
    font-family: 'Futura LT';
}
.connexion {
    margin-top: 55px;
    width: 50%;
}
.connexion_create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connexion_create h2 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
}
.connexion_create h2::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    left: -115%;
    background-color: #ececec;
    top: 15px;
 }
.connexion_login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connexion_login h2 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
}
.connexion_login h2::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    left: -115%;
    background-color: #ececec;
    top: 15px;
 }
.connexion_login_form {
    display: flex;
    flex-direction: column;
    font-family: 'Futura LT';
}
.connexion_form {
    display: flex;
    flex-direction: column;
}
.connexion input {
    width: 313px;
}
.connexion_create__créer {
    margin-top: 40px;
    width: 255px;
    height: 50px;
    border-radius: 5px;
    background-color: #4509d8;
    border: solid 1px #4509d8;
    color: #fff;
    font-family: "Futura LT";
}
.connexion_create__passer {
    margin-top: 40px;
    width: 255px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #4509d8;
    color: #4509d8;
    font-family: "Futura LT";
}
.connexion input {
    margin-top: 50px;
    border: none;
    border-bottom: solid 1px #ececec;
}
.input_select {
    margin-top: 50px;
    border: none;
    border-bottom: solid 1px #ececec;
}
/** Popular **/

.popular {
    width: 50%;
    justify-content: flex-end;
    margin-top: 50px;
}
.popular_logo {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}
.popular_text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    position: relative;
}
.popular_image {
    position: relative;
    width: 50%;
}
.popular_fluid img {
    position: absolute;
    top: 100px;
    width: 40%;
    right: 0px;
}
.popular_text img {
    width: 80%;
}
.popular_text h3 {
    font-size: 25px;
}
.popular_text p {
    margin-top: 16px;
    width: 50%;
    line-height: 1.5;
}



