.wrapper-content {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Futura LT';
  }
  .content-haut {
    position: relative;
    display: flex;
    top: 85px;
    left: 110px;
    width: 100vw;
    height: 50vh;
    background-color: #fcfcfc;
    .totaux {
      position: relative;
      display: flex;
      align-items: center;
      width: 47.5%;
      font-size: 14px;
      .wrapper-totaux {
        position: relative;
        top: -100px;
        display: flex;
        margin: auto;
        width: 50%;
        border-radius: 12px;
        .total {
          display: block;
          margin: auto;
        }
      }
      div {
        p {
          font-size: 20px;
          text-align: center;
          margin-bottom: 40px;
        }
      }
    }
    div {
      span {
        padding: 30px 25px;
        background-color: #4509d8;
        border-radius: 50px;
        color: white;
      }
    }
    .new-clients {
      position: relative;
      display: flex;
      align-items: center;
      width: 47.5%;
      height: 100%;
      font-size: 14px;
      right: 50px;
      .wrapper-clients {
        display: block;
        margin: auto;
        width: 85%;
        border-radius: 12px;
        background-color: white;
        padding: 10px 20px;
        .client {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          img {
            width: 40px;
            height: 40px
          }
          p {
            margin: 0;
          }
          button {
            position: relative;
            color: white;
            padding: 10px 30px !important;
            border: none;
            border-radius: 5px;
            background-color: #4509d8;
            cursor: pointer;
          }
        }
      }
      .new-clients {
        position: relative;
        display: flex;
        align-items: center;
        width: 47.5%;
        height: 100%;
        font-size: 14px;
        right: 50px;
        .wrapper-clients {
          display: block;
          margin: auto;
          width: 85%;
          border-radius: 12px;
          background-color: white;
          padding: 10px 20px;
          .client {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            img {
              width: 40px;
              height: 40px
            }
            p {
              margin: 0;
            }
            button {
              position: relative;
              color: white;
              padding: 10px 30px !important;
              border: none;
              border-radius: 5px;
              background-color: #4509d8;
              cursor: pointer;
            }
          }
        }
      }
    }
  }



  .content-bas {
    position: relative;
    display: flex;
    top: 85px;
    left: 110px;
    width: 100vw;
    height: 50vh;
    background-color: #fcfcfc;
    .auj {
      position: relative;
      display: flex;
      align-items: center;
      width: 47.5%;
      height: 100%;
      font-size: 14px;
      .today {
        display: block;
        margin: auto;
        width: 85%;
        position: relative;
        top: -150px;
        .wrapper-today {
          display: block;
          margin: auto;
          width: 85%;
          height: 100%;
          border-radius: 12px;
          background-color: white;
          padding: 10px 20px;
          .heure {
            padding-right: 10px;
          }
          .line {
            display: inline-block;
          }
          .point {
            border-radius: 5px;
            background-color: #4509d8;
            color: white;
            padding: 10px;
            width: 80%;
            display: block;
            margin: auto;
            margin-bottom: 20px;
            p {
              margin: 0;
              font-size: 18px;
            }
            h3 {
              margin: 0;
              margin-bottom: 5px;
              font-size: 20px;
            }
          }
        }
      }
    }
    .last-devis {
      position: relative;
      display: flex;
      align-items: center;
      width: 47.5%;
      font-size: 14px;
      right: 50px;
      top: -50px;
      .wrapper-devis {
        position: relative;
        display: block;
        margin: auto;
        width: 85%;
        border-radius: 12px;
        background-color: white;
        padding: 10px 20px;
        h3 {
          font-size: 20px;
        }
        .devis {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          font-size: 18px;
          img {
            width: 40px;
            height: 40px;
            margin-right: 30px;
          }
          p {
            margin: 0;
          }
          span {
            position: absolute;
            display: block;
            right: 20px;
          }
          .green {
            color: #50b549;
          }
          .attente {
            color: #cdcdcd;
          }
          .red {
            color: red;
          }
        }
      }
    }
  }

}
