/** Connexion **/

.connexion_popular {
    font-family: 'FuturaLT', sans-serif;
}

.pageContent {
    display: flex;
}

.connexion {
    margin-top: 55px;
    width: 50%;
}
.connexion_create {
    display: flex;
    flex-direction: column;
    margin-left: 100px; 
}
.connexion_create h2 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
}
.connexion_create h2::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    left: -115%;
    background-color: #ececec;
    top: 15px;
 }
.connexion_login {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.connexion_login h2 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
}
.connexion_login h2::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    left: -115%;
    background-color: #ececec;
    top: 15px;
 }
.connexion_login_form {
    display: flex;
    flex-direction: column;
}
.connexion_form {
    display: flex;
    flex-direction: column;
}
.connexion input {
    padding-bottom: 5px;
    width: 300px;
    font-size: 16px;
    background-color: #FCFCFC;
    outline: none;

    &::placeholder {
        color: #d1d1d1;
    }

    &:first-of-type {
        margin-top: 25px;
    }
}
.connexion button {
    margin-top: 40px;
    width: 255px;
    height: 50px;
    border-radius: 5px;
    background-color: #4509d8;
    border: solid 1px #4509d8;
    color: #fff;
} 
.connexion input {
    margin-top: 50px;
    border: none;
    border-bottom: solid 1px #ececec;
}

/** Popular **/

.popular {
    position: absolute;
    right: 0;
    width: 40%;
    justify-content: flex-end;
    margin-top: 50px;
}
.popular_logo {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}
.popular_text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: flex-start;
    position: relative;
}
.popular_image {
    position: relative;
    width: 50%;
}
.popular_fluid {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: -1;
}

.popular_fluid img {
    width: 100%;
}

.popular_text img {
    width: 100%;
}
.popular_text h3 {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
}
.popular_text p {
    margin-top: 16px;
    font-weight: 300;
    width: 70%;
    opacity: 0.5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.9px;
    color: #222222;
    line-height: 1.5;

}

.formTab {
    display: none;
}

.formTab--active {
    display: flex;
}