.listing_body {
    display: flex;
    justify-content: center;
}
.dashboard {
    width: 80%;
    font-family :"Futura LT";
    position: relative;
    top: 85px;
    left: 110px;
    margin-top: 45px;
}
.dashboard_user {
    display: flex;
    justify-content: space-between;

    button {
        font-family: "Futura LT";
        width: 255px;
        height: 50px;
        border-radius: 5px;
        background-color: #4509d8;
        border: none;
        color: #fff;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}
.dashboard_title {
    margin-top: 30px;
    display: flex;
    margin-bottom: 10px;

    .dashboard_title--client {
        width: 17%;
    }
    .dashboard_title--email {
        width: 17%;
    }
    .dashboard_title--adresse {
        width: 17%;
    }
    .dashboard_title--telephone {
        width: 17%;
    }
    .dashboard_title--contacter {
        width: 15%;
    }
    .dashboard_title--action {
        width: 15%;
    }
}
.dashboard_listing {
    border-top: solid 1px #c6c6c6;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    .dashboard_listing--users {
        padding-top: 10px;
        display: flex;
        align-items: center;
        width: 17%;
            img {
                width: 35px;
                height: 35px;
                border-radius: 100px;

            }
            h4 {
                margin-left: 15px;
            }
        }
        .dashboard_listing--email {
            width: 17%;
        }
        .dashboard_listing--adresse {
            width: 17%;
        }
        .dashboard_listing--telephone {
            width: 17%;
        }
        .dashboard_listing--contacter {
            width: 15%;
            display: flex;
            .calendar {
                height: 30px;
                width: 15%;
                img {
                    width: 15px;
                    height: 25px;
                }
            }
            .contacter {
                margin-left: 15px;
            }
            button {
                width: 115px;
                height: 30px;
                border-radius: 5px;
                background-color: #4509d8;
                border: none;
                color: #fff;
            }
        }
        .dashboard_listing--action {
            width: 15%;
        }
        .dashboard_listing--checkbox {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #979797;
        }
}

.popup-content{
  position: absolute;
  top: 85px;
  left: 110px;
  width: 100vw;
  height: 100vh;
  display: none;
  &.active {
    display: block;
  }
  .popup-formulaire {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    .formulaire {
      position: relative;
      margin: auto;
      width: 500px;
      height: 70%;
      background-color: white;
      padding: 10px 20px;
      top: -40px;
      left: -120px;
      z-index: 2;
      form {
        display: flex;
        flex-direction: column;
        .cross {
          position: absolute;
          top: 20px;
          right:20px;
          cursor: pointer;
        }
        .icon-user {
          margin-top: 60px;
          margin-bottom: 30px;
        }
        input:focus {
          outline:  none;
        }
        :last-child {
          margin: -10px auto 0 auto;
        }
        .champ {
          margin-bottom: 20px;
          display: block;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 20px;
          border: none;
          width: 80%;
          border-bottom: 1px solid #d1d1d1;
          font-size: 20px;
          padding-bottom: 5px;
        }
      }
      h2 {
       display: block;
       margin-left: 10%;
       font-size: 20px;
       font-weight: bold;
     }
     input::placeholder {
       color: #d1d1d1;
     }
     .creer {
       display: block;
       margin-left: 10%;
       margin-top: 40px;
       width: 200px;
       color: white;
       padding: 15px 30px;
       border-radius: 5px;
       background-color: #4509d8;
     }
    }
  }
}


.popup-formulaire::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
