.listing_body {
    display: flex;
    justify-content: center;
}
.dashboard {
    width: 80%;
    font-family :"Futura LT";
    position: relative;
    top: 85px;
    left: 110px;
    margin-top: 45px;
}
.dashboard_user {
    display: flex;
    justify-content: space-between;
    .button_add {
        font-family: "Futura LT";
        width: 255px;
        height: 50px;
        border-radius: 5px;
        background-color: #4509d8;
        border: none;
        color: #fff;
    }
    h1 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}
.dashboard_listing {
    border-top: solid 1px #c6c6c6;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
        .dashboard_listing--prix {
            width: 17%;
        }
        .dashboard_listing--action {
            width: 15%;
            
            
    }
    .envoyer {
        width: 115px;
        height: 40px;
        border-radius: 5px;
        background-color: #4509d8;
        border: none;
        color: #fff;
        font-family: "Futura LT";
}
.modifier {
        width: 115px;
        height: 40px;
        border-radius: 5px;
        background-color: #4509d8;
        border: none;
        color: #fff;
        font-family: "Futura LT";
}
.exporter {
        width: 115px;
        height: 40px;
        border-radius: 5px;
        background-color: #4509d8;
        border: none;
        color: #fff;
        font-family: "Futura LT";
    }
}