body {
    background-color: #FCFCFC;
    font-family: 'Futura', sans-serif;
}

.main__quote {
    position: relative;
    top: 85px;
    left: 120px;
    width: calc(100% - 120px);
}

.page {
    display: none;
}

.page--active {
    display: block;
}

.container__page {
    display: flex;
    justify-content: center;
}

.container__tab {
    display: inline-flex;
    margin: 50px 0 25px 100px;
    border-bottom: 1px solid #000;
}

.tab {
    margin-bottom: 1px;
    padding: 5px 25px;
    border-bottom: solid 3px transparent;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    cursor: pointer;
}

.tab--active {
    border-bottom: solid 3px #e71d7c;
}

.page__title {
    margin: 50px 100px;
    font-family: 'Futura', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
}

.title__containerInput {
    position: relative;
}

.title__input {
    padding: 5px;
    width: 150px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 17px;
    background-color: transparent;
    outline: none;
}

.iconArrow {
    position: absolute;
    right: 0;
    top: -8px;
    width: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}

.thread {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30%;
    height: 100%;
    font-family: 'Futura', sans-serif;

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 1px;
        height: 100%;
        left: 50%;
        transform: translate(-50%);
        opacity: .7;
        background-color: #000;
    }
}

.step {
    display: flex;
    justify-content: center;
    position: relative;
    width: 30px;
    margin: 25px;

    &:first-of-type {
        margin-top: 50px;    
    }
    
    &:last-of-type {
        margin-bottom: 50px;    
    }
}

.step__position {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    border: solid 1px #4509d8;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #dde0ec;
    background-color: #ffffff;
    color: #4509d8;
    font-weight: 300;
    cursor: pointer;
    transition: color .3s;

    &::before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50px;
        bottom: 50px;
        width: 10px;
        height: 10px;
        background-color: #000;
    }
}

.step:first-of-type .step__position::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.step__iconCheck {
    width: 0;
    position: relative;
    top: 4px;
    opacity: 0;
    transition: opacity .3s;
}

.step__label {
    display: block;
    position: absolute;
    right: calc(100% + 35px);
    width: 150px;
    text-align: right;
    font-family: 'FuturaLT', sans-serif;
    font-size: 14px;
    color: #222222;
}

.label__title {
    font-weight: 700;
    margin-bottom: 5px;
}

.label__subtitle {
    margin-top: 5px;
}

.step--active {
    .step__position {
        border: solid 1px #78ca3c;
        color: transparent;
        font-size: 0;
    }

    .step__iconCheck {
        width: 35px;
        opacity: 1;
    }
}

.container__board {
    width: 30%;    
}

.board {
    padding: 20px 30px;
    min-height: 300px;
    border-radius: 12px;
    background-color: #fff;
}

.board__title {
    font-family: 'FuturaLT', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #222222;
}

.option {
    display: flex;
    justify-content: space-between;
    font-family: 'FuturaLT', sans-serif;
    font-size: 18px;
    color: #222222;
    border-bottom: solid 1px #ececec;
    padding-bottom: 20px;
    margin-top: 20px;

    &:first-of-type {
        margin-top: 40px;
    }
}

.option__title {
    font-weight: 700;
}

.board__total {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'FuturaLT', sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.9px;
    color: #4509d8;
}

.total__title {
    font-size: 20px;
}

.container__button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
