.static {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  .sidebar {
    position: fixed;
    height: 100%;
    width: 120px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    z-index: 2;

    .sidebar__fluid {
      position: absolute;
      width: 500px;
      bottom: -60px;
      left: -290px;
      z-index: -1;
    }

    .logo {
      display: block;
      width: 85%;
      margin: auto;
      margin-bottom: 60px;
      padding-top: 20px;
    }

    a {
      font-family: 'FuturaLT', sans-serif;
      font-weight: 300;
      position: relative;
      width: 100%;
      text-align: center;
      text-decoration: none;
      border-left: 3px solid transparent;
      font-size: 13px;
      color: white;
      display: block;
      margin-bottom: 40px;
      transition: .3s;

      img {
       width: 25px;
     }

     p {
       margin: 5px 0;
     }

     &:hover {
       border-left: 3px solid white;
     }
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: calc(100% - 120px);
  z-index: 1;
  position: relative;
  top: 0;
  left: 120px;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 20px #dbdbdb;
  z-index: 1;

  input {
    margin-left: 80px;
    border: none;
    font-family: 'FuturaLT', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #fff;
    outline: none;
  }
  
  .droite {
    display: flex;
    align-items: center;
    span {
      font-weight: bold;
    }
    .bell {
      width: 20px;
      margin: 0 20px;
    }
    .personne {
      width: 30px;
      margin-right: 10px;
    }
  }
}
